
.weather-text{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: calc(10px + 2vmin)
}
.bg-image{
  background-image:url("./weather.jpg") ;
  background-repeat:no-repeat;
  background-size:100% 100%;
  margin-top:0 !important;
}
.input-box{
  background-color: rgb(15, 97, 93);
  border-radius:15px;
  
}
.info{
  flex-direction:column;
  display:flex;
  align-items: center;
  justify-content: center;
  
}
.inputfield{
  border:1px solid black;
  border-radius:25px;
  padding:10px 12px;
  margin:1rem 1.5rem;
  font-size: 25px;
  
}
.icon{
  height:70px;
  width:70px;
}
.location{
  font-size:3rem;
}
.temp{
  font-size:1.5rem;
  margin-top:-0.5rem;

}
.max{
  font-size: 1rem;
  margin-top:-0.5rem;
  
}
.weather-text{
  font-size:50px;
  color:white;
  margin-top:5rem;
}
.weather-tex{
  margin-top:-2rem;
}
.data{
  text-align: center;
}
.time-text{
  color:#ffff;
  font-size:25px;
}

.wave-one{
  margin-top:-2rem;
  display:flex;
  font-size:22px;
  justify-content:space-around;
}
.icon{
  margin:0px !important;
}
.box{
  border:1px solid black;
  border-radius:10px;
  margin:20px;
  padding:10px;
  width:150px;
  height:210px;
}
.forcast{
  display:flex;
  flex-wrap:wrap;
  background-color: peachpuff;
  border-radius:10px;
  margin-top:5rem;
  align-items:center;
  justify-content: center;;
}
.dt-text{
  margin:0;
}
.humid{
  margin:0 !important;
  font-size:0.8rem;
}
.weather-app{
  justify-content:center;
  align-items:center;
  display:flex;
  margin-bottom:2rem;
}
.desc{
  margin-top:-1rem;
  font-size:0.8rem;
}
@media only screen and (min-width: 998px)  {
  .body{
    display:flex !important;

  }
  .forcast{
    margin-right:4rem;
  }
  .time-text{
    font-size:50px !important;
  }
}
@media screen and (min-width: 1117px) and (max-width: 1249px) {
  .box{
    margin:10px;
    padding:8px;
    width:130px;
    height:210px;
  }
  }
  @media screen and (min-width: 1022px) and (max-width: 1103px) {
    .box{
      margin:8px;
      padding:5px;
      width:130px;
      height:200px;
    }
    .forcast{  
      margin-right:0rem;
      margin-top:5rem;
    }
    .weather-text{
      font-size:35px;
    }
    .time-text{
      font-size:35px;
    }
    }
    @media screen and (min-width: 998px) and (max-width: 1022px) {
      .box{
        margin: 6px;
        padding:5px;
        width:120px;
        height:200px;
      }
      .forcast{  
        margin-right:0rem;
        margin-top:5rem;
      }
      .weather-text{
        font-size:35px;
      }
      .time-text{
        font-size:35px;
      }
    }
    @media screen and (min-width: 779px) and (max-width: 998px) {
    }